* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: rgb(175 120 226);
}

.container {
    background-color: rgb(189 173 229);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50em;
    margin: 0 auto;
    gap: 1em;
    padding: 3em;
    border-radius: 2em;
    border: 1px solid #000;
}

.container>img {
    max-width: 30em;
    width: 10em;
    height: 10em;
    border-radius: 30em;
}

footer {
    background-color: bisque;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}